::-webkit-scrollbar {
    height: 12px;
    width: 4px;
    background: transparent;
    z-index: 12;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    background-color: #bfee6f4e;
    z-index: 12;
    border-left: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #bfee6faf;
}

::-webkit-scrollbar-corner {
    background: #202020;
}

a {
    color: darkorange;
    text-decoration: none !important;
}

li {
    user-select: all !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #bfee6f transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

hr {
    width: 100%;
    height: 8px;
    color: #333;
    overflow: visible;
    border: none;
    border-top: 2px solid;
    margin: 8px;
    margin-top: 12px;
}

hr::after {
    font-size: 0.85em;
    background-image: linear-gradient(transparent, white, white, transparent);
    content: ' 'attr(name)' ';
    padding: 0 4px;
    position: relative;
    top: -13px;
}